<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maintenance Department</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">
  
  <link rel="shortcut icon" href="images/favicon.ico" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

  <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>

  <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"></script>

  <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-database.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="static/style1.css">
	
	<style>
	body {
	background-image:url('static/aircraft-maintenance.webp')
	}
	.button {
  /*background-color: #013220; /* Green */
  border: none;
  color: white;
  padding:auto;
  text-align: center;
  text-decoration: none;
  position:fixed;
  /*font-size: 22px;*/
  margin: auto;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  align:center !important;
  
  
}
.button1{
border-radius:12px;
}
.button2{
border-radius:12px;
}
.button1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}
	</style>

</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1"><img src="static/image2.png" class="logo"></span>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <h1 class="nav-link font-italic font-weight-bold text-success" style="font-size:50px">Welcome to Maintenance Department</h1>
      </li>
    </ul>
	
	
	
	
  </nav>
  <nav class="navbar navbar-light bg-light">
     <ul class="nav justify-content-rigth">
	 
      <li class="nav-item">
        <a class="nav-link" href="maintenance_login" style="color:black">Maintenance</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="repair_login" style="color:black">Repairs</a>
      </li>

      <li class="nav-item" >
        <a class="nav-link" href="operations_login" style="color:black">Operations</a>
      </li>
	  
	  
    </ul>
</nav>
    <br>
  
    <br>
    <div class = "row d-flex justify-content-center" style= "margin-top: 200px;">
      <div class= "col-12 col-sm-6 col-md-6">
<center>
  <button type="button" class="btn btn-success btn-lg" style="width:250px;height:80px" onclick="window.location.href='/maintenancedashboard'">View Dashboard</button>
</center>
  <!-- &nbsp   &nbsp   &nbsp   &nbsp
&nbsp   &nbsp   &nbsp -->
</div>
<div class= "col-12 col-sm-6 col-md-6 ">

<button type="button" class="btn btn-success btn-lg button  " style="width:250px;height:80px" onclick="window.location.href='/'">Log Out</button>
</div>
</div>
</body>

<script src="js/app.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>


